body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 span {
    color: orange;
}

h1 {
    font-size: 50px;
}

h3 {
    margin-left: 20px;
}

p {
    line-height: 1.8;

}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
    margin-top: 15px;
}

.link-button {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.my-work {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    border-radius: 10px;
    border-left: 10px solid rgb(177, 216, 84);
}

.experience-area {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

footer {
    text-align: center;
}